<%- include ('../_partials/_header'); -%>

<div class="col-md-8">
  <div class="panel panel-default">
    <% data.forEach(function(dataRow, index) { %>
    <div class="list-group">
      <a href="#" class="list-group-item">
        <p class="list-group-item-text"><%= dataRow %></p>
      </a>
    </div>
    <% }) %>
  </div>
</div>

<%- include ('../_partials/_footer'); -%>
